@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #B4FF71;
  --color-accent: #C84AB6;
  --color-navy: #081F5C;
}

[data-theme="dark"] {
  --color-bg: #081F5C;
  --color-card: #0A2570;
}

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
