# Logs
logs
*.log

# Dependency directories
node_modules

dist
build

# Vite cache
.vite

# IDE files
.vscode/
.idea/
.DS_Store

# Environment files (do NOT ignore .env for runtime)
# .env
.env.local
.env.*.local
.env